.beta{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: rgb(25, 163, 228);
}
#teta{
    height: 300px;
    width: 300px;
    border: 5px solid purple;
    background-color: rgb(130, 170, 21);
}
.meta{
    display: flex;
}
#peta{
    height: 200px;
    width: 200px;
    border: 5px solid rebeccapurple;
    background-color: pink;
}
.raj{
    float: right;
}
.rekha{
    float: right;
}
.two{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}
.one{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 5px;

}